<!-- <div class="col-lg-12"> -->
<div class="row">
    <div class="card me-3 mb-3" style="width: auto;">
        <img src="assets/img/Huawei_matpro_60.png" class="card-img-top" alt="..." style="width:220px;">
        <div class="card-body">
          <h5 class="card-title">Huawei Mate 30 pro</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary">400$</a>
        </div>
      </div>

      <div class="card me-3 mb-3" style="width: auto;">
        <img src="assets/img/Iphone_16_pro.png" class="card-img-top" alt="..." style="width:220px;">
        <div class="card-body">
          <h5 class="card-title">Apple Iphone 16 Pro Max</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary">800$</a>
        </div>
      </div>

      <div class="card me-3 mb-3" style="width: auto;">
        <img src="assets/img/samsung_s25.png" class="card-img-top" alt="..." style="width:220px;">
        <div class="card-body">
          <h5 class="card-title">Samsung S25 Ultra</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary">1200$</a>
        </div>
      </div>

      <div class="card me-3 mb-3" style="width: auto;">
        <img src="assets/img/VIVO.png" class="card-img-top" alt="..." style="width:220px;">
        <div class="card-body">
          <h5 class="card-title">VIVO Fold </h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary">250$</a>
        </div>
      </div>


    </div>
<!-- </div> -->