<div class="">
    <ul class="list-group">
        <li class="list-group-item"> <img srcset="assets/img/electronics.png" height="50px"> &nbsp; Mobile & Tablets</li>
        <li class="list-group-item"> <img srcset="assets/img/Fashion.png" height="50px"> &nbsp; Fashion</li>
        <li class="list-group-item"> <img srcset="assets/img/Gadgets.png" height="50px"> &nbsp; Gadgets</li>
        <li class="list-group-item"> <img srcset="assets/img/home-kitchen.png" height="50px"> &nbsp; Home & Kitchen </li>
        </ul>
        </div>